<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.akiniyalocts.imgur_api">

    <application>

        <activity
            android:name=".ui.ImgurLoginActivity"
            android:theme="@style/ImgurAPITheme.Login"
            android:label="@string/title_activity_main" >
        </activity>

    </application>
</manifest>
